<div th:fragment="footer">
    <footer class="page-footer font-small special-color-dark pt-4">
        <div class="container">
            <div class="col l6 s12">
                <h5 class="white-text">Сделал маленький сайт на Spring. Хей)</h5>
                <p class="grey-text text-lighten-4">При написании этого сайта были беспощадно добиты мои
                    последние нервные клетки, а так же уничтожено терпение и самообладание. Я бы сказал, что
                    при создании этого проекта я настолько приисполнился в свое познании, что вот этот тленный
                    мир мне уже абсолютно понятен. Для моих потомков, на случай если меня все таки прибило, вы там
                    это, держитесь!</p>
                <p class="grey-text text-lighten-4">Сайт написан с на spring с использованием шаблонизатора
                    thymeleaf. В качестве базы данных используется MySql установленная на локальном сервере
                    MAMP. Тут еще должен быть какой-то умный текст но я не придумал какой. Спасибо короче.
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://vk.com/krowiel" target="_blank"> KROWIEL</a>
        </div>
    </footer>
</div>