<div th:fragment="logout">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">KROWIEL Spring Web App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О нас</a>
                </li>
            </ul>
            <form action="/blog/add" class="mr-2">
                <button class="btn btn-success">Добавить статью</button>
            </form>
            <form th:action="@{/logout}" method="post" class="ml-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false" th:inline="text">Привет
                            [[${#httpServletRequest.remoteUser}]]</a>
                        <div class="dropdown-menu">
                            <button type="submit" class="btn btn-primary btn-block">Выйти &#128682</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>